:root{
    --clr-darkbrown: hsl(323, 21%, 16%);
    --clt-darkOrange: #c97f00;
    --clt-grey: #b6b6b6; 
    --clr-darkGreen: rgb(0, 106, 23);
    --clr-lightGreen: rgba(133, 216, 60, 0.591);
    --clr-yellowNeon: #FFFFC7;
    --clr-greenNeon: #B4FE98;
    --clr-lightOrange: rgba(255, 196, 0, 0.694);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* background */
body{
    background-image: url(./source/yellowCooking.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
button{
    cursor: pointer;
    border: none;
}

/* main */
main{
    display: inline-flex;
    height: 90%;
    width: 100%;
    justify-content: space-between;
    z-index: -1;
}
.left{
    background-color: #fcffe3;
    width: 70%;
    height: 100%;
    opacity: 0.3;
}
.checked {
    color: orange;
}
/* REVIEW */
.review-container{
    display: block;
    height: 100%;
    width: 350px;
    /* background-color: #B4FE98; */
    margin: 50px;
}
.review{
    background-color: var(--clr-yellowNeon);
    border-radius: 20px;
    width: 350px;
    height: 350px;
    right: 0;
    margin-left: auto;
    padding: 20px;
    font-size: 20px;
    color: var(--clr-darkGreen);
}
/* RATING */
.rate {
    float: right;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: rgb(252, 231, 0);    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: rgb(252, 202, 0);  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: rgb(252, 202, 0);
}
/* comment */
#comment-text{
    height:100px;
    width:310px;
    font-size:16px;
    margin-top:5px;
    float:right;
    overflow: scroll;
    padding:10px;
    border-radius: 5px;
    border: 1px var(--clr-darkGreen) solid;
}
/* submit button */
.add{
    padding: 5px;
    background-color: var(--clr-darkGreen);
    margin-top: 5px;
    color: var(--clr-yellowNeon);
    border-radius: 5px;
    width: 100px;
    font-size: 14px;
    opacity: 0.7;
    font:inherit;
}
.add:hover{
    opacity: 1;
}
#comment-list{
    height: 500PX;
    width: 100%;
    overflow: scroll;
}

/* Filter button */
.filterbtn {
    background-color: var(--clr-darkGreen);
    color: var(--clr-yellowNeon);
    padding: 7px;
    margin-top: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 70px;
    opacity: 0.7;
    font-family: inherit;
}
  
.filterbtn:hover, .filterbtn:focus {
    opacity: 1;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.filter-content {
    display: none;
    position: absolute;
    background-color: var(--clr-yellowNeon);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}
  
.filter-content a {
    color: var(--clr-darkGreen);
    padding: 10px 12px;
    text-decoration: none;
    display: block;
}
  
.dropdown a:hover {background-color: var(--clr-greenNeon)}
  
.show {display: block;}


/* comment cards */
.comment-card{
    background-color: var(--clr-yellowNeon);
    border-radius: 20px;
    font-size: 20px;
    font: inherit;
    color: var(--clr-darkGreen);
    margin-top: 10px;
    padding: 10px;
}
.comment-card > button{
    margin-top: 5px;
    padding: 3px;
    background-color: var(--clr-darkGreen);
    color: var(--clr-yellowNeon);
    border-radius: 5px;
}


/* footer{
    height: 10%;
    width: 100%;
} */








