:root{
    --clr-neon: hsl(317 100% 54%);
    --clr-darkbrown: hsl(323, 21%, 16%);
    --clt-main: #FDEFF4;
    --clt-grey: #b6b6b6; 
    --clr-darkGreen: rgb(0, 106, 23);
    --clr-lightGreen: rgba(133, 216, 60, 0.591);
    --clr-yellowNeon: #FFFFC7;
    --clr-greenNeon: #B4FE98;
}
body{
  /* text-align: center; */
}
.background {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -1;
    opacity: 0.9;
  }
  .background img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }

  /* create table for first recipe */

.text-container{
  width: 700px;
  height: 400px;
  background-color: var(--clr-darkGreen);
  border-radius: 20px;
  box-shadow: 11px 19px 21px 0px var(--clr-darkbrown);
  display: flex;
  margin: 150px 250px ;
}
  .firstImage{
    width: 300px;
    height: 250px;
    background-color: var(--clr-lightGreen);
    display: flex;
    margin: -480px 0px 0 850px;
  }

.text-container2{
  box-sizing: content-box;
  width: 700px;
  height: 400px;
  background-color: var(--clr-greenNeon);
  border-radius: 20px;
  box-shadow: 11px 19px 21px 0px var(--clr-darkbrown);
  display: inline-flexbox;
  margin: 200px 0 0 500px ;
  top:20px
}
.secondImage{
  width: 300px;
  height: 250px;
  background-color: var(--clr-lightGreen);
  display: flex;
  margin: -330px 0px 0 300px;
}

.text-container3{
  width: 700px;
  height: 400px;
  background-color: var(--clr-darkGreen);
  border-radius: 20px;
  box-shadow: 11px 19px 21px 0px var(--clr-darkbrown);
  display: flex;
  margin: 150px 250px 350px;
  
}
.thirdImage{
  width: 300px;
  height: 250px;
  background-color: var(--clr-lightGreen);
  display: flex;
  margin: -680px 850px 150px;
  
}