/* body{
    margin: 0px;
    padding: 0;
    background-color: var(--clr-lightGreen);
    min-height: 100vh;
    max-width: 100%;
} */
/* html{
    height: 100vh;
} */
:root{
    --clr-neon: hsl(317 100% 54%);
    --clr-darkbrown: hsl(323, 21%, 16%);
    --clt-main: #FDEFF4;
    --clt-grey: #b6b6b6; 
    --clr-darkGreen: rgb(0, 106, 23);
    --clr-lightGreen: rgba(133, 216, 60, 0.591);
    --clr-yellowNeon: #FFFFC7;
    --clr-greenNeon: #B4FE98;
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    max-width: 100%;
    min-height: 100vh;
    z-index: -1;
    top: 0;
    left:0;
}

/* navigation  */
.topnav{
    font-size: 20px;
    cursor: pointer;
    text-decoration: none; 
    color: var(--clr-darkGreen);
    width: 100%;
    padding: 10px 10px ;
    position: relative;
}
#navbtn{
    border:  var(--clr-darkGreen) 2px solid;
    border-radius: 20%;
    box-shadow: 0px 5px 11px 0px var(--clr-darkGreen);
    margin-left: 50px;
}
#navbtn:hover{
    background: var(--clr-darkGreen);
    color: var(--clr-greenNeon);
    text-shadow: none; 
    border-width: 7px;
    opacity: 0.6;
} 
.sign-in{
    position: absolute;
    right: 50px;
}

/* searching button */
.search-field{
    border:  var(--clt-darkGreen) 2px solid;
    border-radius: 100px;
    box-shadow: 0px 0px 11px 0px var(--clr-darkGreen);
    background-color: var(--clr-lightGreen);
    width: 250px;
    margin-left: 50px;
    padding: 10px 35px 10px 15px;
}
.search-button {
    /* background: transparent; */
    color: red;
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    /* margin-left: 40px; */
    position: relative;
} 
.search-button img {
    position: absolute;
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 100px;
}
input::placeholder{
    font-size: 16px;
    color: var(--clr-darkGreen);
}

/* WELCOME */
.text-box{
    font-size: 120px;
    font-family: cursive;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
}
#welcome{
    display: inline-block;
    font-weight: bolder;
    animation: mover 6s linear infinite;
    color: transparent;
}

@keyframes mover{
    0%{
        text-shadow: 0px 0px 5px var(--clr-yellowNeon);
    }
    50%{
        text-shadow: 0px 0px 10px var(--clr-greenNeon);
        transform: translate3d(30px, 30px, 30px)
    }
    100%{
        text-shadow: 0px 0px 35px var(--clr-darkGreen);
    }
}
 #welcome:nth-child(1)
{
    animation-delay: 0.5s;
}
#welcome:nth-child(2)
{
    animation-delay: 1s;
}
#welcome:nth-child(3)
{
    animation-delay: 1.5s;
}
#welcome:nth-child(4)
{
    animation-delay: 2s;
}
#welcome:nth-child(5)
{
    animation-delay: 2.5s;
}
#welcome:nth-child(6)
{
    animation-delay: 3s;
}
#welcome:nth-child(7)
{
    animation-delay: 3.5s;
} 
#welcome:nth-child(8)
{
    animation-delay: 4s;
}
#welcome:nth-child(9)
{
    animation-delay: 4.5s;
}
#welcome:nth-child(10)
{
    animation-delay: 5s;
}
#welcome:nth-child(11)
{
    animation-delay: 5.5s;
}
#welcome:nth-child(12)
{
    animation-delay: 6s;
}
#welcome:nth-child(13)
{
    animation-delay: 6.5s;
}

/* fanpage */
#follow{
    position: fixed;
    border-radius: 50%;
    width: 70px;
    height: 50px; 
    right: 50px;
    opacity: 0.8;
}
.fb{
    top: 200px;
}
.tt{
    top: 350px;
}
.ig{
    top: 500px;
}
#follow:hover{
    cursor: pointer;
    width: 70px;
    right: 60px;
    box-shadow: 0px 0px 10px 7px var(--clr-darkGreen);
}
